* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Coda", sans-serif;
    transition: 0.5s;
    font-weight: normal;
    scroll-behavior: smooth;
    text-decoration: none;
    color: var(--cerna);
}

:root {
    --primary-color: #80be41;
    --primary-tmava: #51a15a;
    --secondary-color: #a98550;
    --jemnaSecondary-color: #f1e1d2;
    --red: #ff0000;

    --bila: #EAEAEA;
    --vyrazneBila: rgb(240, 240, 240);
    --cerna: #111;
    --tmava: #25282b;
}

.mezera {
    width: 100%;
    background-color: var(--bila);
}

.mensi {
    height: 100px;
}

.stredni {
    height: 250px;
}

.velka {
    height: 300px;
}




#hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/holkaOdHadaNeniHadice/snak.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#heroText {
    width: 35%;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 40px;
}

#heroText2 {
    display: flex;
    flex-direction: column;
}

#hero h2 {
    font-size: 70px;
    color: var(--bila);
}

#hero h3 {
    font-size: 27px;
    color: var(--bila);
}

.custom-shape-divider-bottom-1706256337 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706256337 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 112px;
}

.custom-shape-divider-bottom-1706256337 .shape-fill {
    fill: var(--primary-tmava);
}

#karty {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-tmava);
    padding: 80px 50px;
}
#karty a{
    width: 30%;
    height: 100%;
}

.karta {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: var(--bila);
    height: 100%;
}

.karta:hover h3{
    color: var(--primary-color);
}

.karta:hover ion-icon{
    color: var(--primary-color);
}

.karta h3 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.karta h4 {
    font-size: 1.2rem;
}

.karta h4 span {
    color: var(--primary-color);
}

.karta p {
    font-size: 1.4rem;
    font-weight: bold;
}

.nadpiskarta {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.nadpiskarta h3 {
    margin: 0;
}


.karta ion-icon {
    font-size: 2.5rem;
    margin-right: 20px;
}

#oNas {
    width: 1200px;
    display: flex;
    margin: auto;
    padding-top: 100px;
}

#oNasL {
    width: 50%;
    padding-right: 10px;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#oNasL img {
    border-radius: 19% 81% 68% 32% / 61% 22% 78% 39%;
    width: 100%;
}

#oNasP {
    width: 50%;
    margin-left: 10px;
}

#oNasP h3 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 50px;
}

#oNasP h3 span {
    color: var(--primary-color);
}

#oNasP h4 {
    font-size: 18px;
    margin-bottom: 35px;
}

.custom-shape-divider-bottom-1706632641 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706632641 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 106px;
}

.custom-shape-divider-bottom-1706632641 .shape-fill {
    fill: var(--secondary-color);
}

#adopce {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100vh;
}
#adopceMini{
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 150px;
    justify-content: space-between;
}
#adopceL{
    width: 550px;
    height: 450px;
    background-image: url(../img/holkaOdHadaNeniHadice/givingSnake.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: end;
    padding: 30px;
}
#adopceP{
    width: 550px;
    height: 450px;
    background-image: url(../img/holkaOdHadaNeniHadice/givupingSnake.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: end;
    padding: 30px;
}

#adopceL:hover, #adopceP:hover {
    transform: scale(1.1);  /* Při najetí myší zvětšíme obrázek o 20 % */
}
#adopceP h3, #adopceL h3{
    font-size: 40px;
    color: var(--bila);

}